/**/

$primary: #9356DC;
$secondary: #FF79DA;
$ternary: #99F2D0;
$dark5: rgba(black, 5%);
$dark10: rgba(black, 10%);
$dark20: rgba(black, 20%);
$dark30: rgba(black, 30%);
$dark80: rgba(black, 80%);
$light: white;
$gray: #eee;

$gradient1: linear-gradient($secondary, $primary);

$breakpoints: (
    mobile: 768px,
    desktop: 992px,
    tv: 1440px
);
// $mobile: 768px;
// $tablette: 992px;
// $tv: "taille XL";

